*{
    border: 1px solid blue;
}

/* SECTION 1 */

.home-container1{
    margin:1%;
    display: flex;
    flex-direction: row;
}

.home-container *{
    margin: 3%
}

.name-container{
    width: 55%;
}
.name{
    font-size: 700%;
}
.perlin-bubble{}

/* SECTION 2 */
.home-container2{
    display:flex;
    flex-direction: row;
}

.venn-diagram-container{
    width:45%;
}

.interests-container{
    width: 55%
}