.navbar {
  background-color: black;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  display: inline;
  padding: 1em 3em;
}

.navbar a {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: none;
}

.navbar a:focus,
.navbar a:hover {
  color: #fff;
}

.navbar a:focus:after,
.navbar a:hover:after {
  width: 100%;
  left: 0%;
}

.navbar a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* MEDIA QUERIES */

/* Adjust for tablets (up to 768px) */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar li {
    padding: 1em;
  }

  .navbar a {
    font-size: 16px;
  }
}

/* Adjust for mobile devices (up to 480px) */
@media (max-width: 480px) {
  .navbar ul {
    flex-direction: column;
    padding: 0;
  }

  .navbar li {
    padding: 0.8em;
  }

  .navbar a {
    font-size: 14px;
  }
}
